* {
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  overflow-y: hidden;
}

p {
  margin: 0;
}

textarea {
  resize: none;
  margin: 0 !important;
}


::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.w100 {
  width: 100%;
}

.chat__main {
  height: 100vh;
}

.chat__sidebar {
  overflow-y: scroll;
  height: 100vh;
}

.sidebar__title {
  font-weight: bold;
  color: #f4f4f4;
}

.chat__messages {
  height: 85%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.chat__message {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.chat__form {
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.chat__form textarea {
  height: 100%;
 // height: 5rem !important;
  overflow-y: scroll !important;
  flex-basis: 80%;
}

.chat__form textarea::-webkit-scrollbar { 
    display: none; 
}

.chat__buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  flex-basis: 19%;
  height: 100%;
}

.chat__buttons button {
  font-size: 0.8rem;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

.chat__buttons button i {
  font-size: 0.8rem;
}

.collection-item.chat__message {
  border: none;
}

